<a href="@Url.Action("Giohang","Giohang")" style="color: white; font-weight: bold; text-decoration: none;">
    <img width="20" height="20" src="~/Content/images/carts.png"/> Giỏ Hàng (@ViewBag.Tongsoluong)
</a>
